<% layout('layouts/boilerplate') -%>
<h1> Edit post </h1>
<form action="/posts/<%= post.id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input name= "post[title]" type="text" value="<%= post.title %>"></div>
    <div><input name = "post[price]" type="text" value="<%= post.price %>"></div>
    <div>
        <input type="file" id ="imageUpload" accept="images/*" name="images" multiple />
        <div>
            <% post.images.forEach((image, i)=>{ %>
                <img src="<%= image.url %>" alt="Surf broad image" width="100px">
                <label for="image<%= i %>">Delete?</label>
                <input name = "deleteImages[]" type="checkbox" class="imageDeleteCheckbox" id="image<%= i %>" value="<%=image.public_id %>">
            <%}); %>
        </div>
    </div>
    <div><textarea name ="post[description]"><%= post.description %></textarea></div>
    <div><input name = "post[location]" type="text" value="<%= post.location %>"></div>
    <div><input type="submit"></div>
</form>
<script src="/javascripts/post-edit.js"></script>
